In [444]:
import pandas as pd

# Load the Data

In [445]:
df = pd.read_csv('Data/all_data_masha.csv').drop(columns = 'Unnamed: 0')
df.head()

        class                                           complain
0       Adult  The defendants recruited and maintained juveni...
1       Minor  The defendant forced three adult victims and o...
2  Notrelated  Create a rotating on call schedule dont keep w...
3       Adult  The defendants contacted young women predomina...
4       Minor  Lakireddy Bali Reddy the largest and wealthies...

In [446]:
# data_positive = pd.read_csv('positive_combined.csv')
# data_positive.head()

In [447]:
# data_positive['class'] = 'not_related'
# data_positive.head()

In [448]:
# data_negative = pd.read_csv('case_files.csv')
# data_negative.head()

In [449]:
# data_negative_reduced = data_negative[['Case Type', 'Case Summary']]
# data_negative_reduced = data_negative_reduced.rename(columns = {'Case Type': 'class', 'Case Summary':'complain'})
# data_negative_reduced.head()

In [450]:
# data_combined = pd.concat([data_negative_reduced,data_positive], axis = 0)
# data_negative_reduced.shape, data_positive.shape, data_combined.shape

In [451]:
# data_combined.head()

In [452]:
# data_combined['class'].value_counts()

In [453]:
data_combined = df

In [454]:
data_combined.shape

(1447, 2)

In [455]:
data_combined = data_combined.dropna().reset_index(drop = True)
data_combined.shape

(1443, 2)

In [456]:
data_combined.to_csv('Data/data_combined_pos_neg.csv', encoding='utf-8', index=False)

# Modelling (validation purposes)
Calculate similarclasses with tf-idf and cosine_similarity

In [457]:
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
import matplotlib.pyplot as plt
from time import time
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import numpy as np

In [458]:
#t = time()
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(data_combined['complain'])
#print(time() - t)

In [459]:
tfidf_matrix.shape

(1443, 24302)

In [486]:
#type your complain or load a file:
text0 = 'I like sex with people and also being slave'

text00 = 'Im a slave for you, I cannot hold it, I cannot control it Im a…'

text1 = 'When my husband became very sick and couldn’t work, I used an employment agency to find me work abroad. I was sent to Qatar, but the family were cheating me, paying me less than agreed in my contract and refusing to give me a day off. I called the agency in the Philippines for help, but they never answered. I had to send money back home to pay for food, school fees and medicine. I fought with my employer about my salary, but he would say Your contract is just a piece of paper'

text2 = 'I worked 12-hour shifts and finished every day at 6pm, the same time that the gang curfew in our city came into effect. There are two main gangs in the area, and anyone on the streets after the curfew becomes a target. Every day I thought might be my last. One evening, my co-worker and I were walking to the bus stop when three gang members stopped and said we’d have to sell sex and drugs for them. “We’re not asking you,” they said. “We’re giving you an order.” They let us go, but I was terrified. The next night after work, they were there, waiting for us. “Time’s up,” they said, and they forced us into a car at gunpoint'

text3 = 'One of my friends in the village said he and a few others were leaving to find work. The next day we all got a taxi and headed for Thailand. We were met by a man who said we could work on his cassava farm, earning $130 (£99) a month each, with room and board included. We worked seven days a week, morning until night, for a month, until one evening a Thai man asked how much we were earning. He offered us $200 a month to work on a construction site, but said we’d have to move to Thailand We were confused. Weren’t we already in Thailand? It turned out we were still in Cambodia, and the farmer had already fled without giving us any wages. We were left with no choice but to accept the deal and smuggle ourselves over the border. The man said we’d be charged for being driven to the construction site, but that it could be deducted from our first month’s wages. It was a long, uncomfortable drive in a pickup, and when we finally stopped, we saw that we weren’t at a construction site, but a busy sea port. The broker said the building site had closed, so he’d arranged for us to work on a fishing boat instead'

text4 = 'On paper I was a labourer but in reality I did not work as one. It was a place that raised pigs to support the People’s Army and shock brigades. It was supposed to raise pigs. But no one actually raised pigs there. There was no space to raise pigs there and no feed for them either. Since the labourers cannot work, they are required to pay a certain amount of money instead. Every month the labourers must give 2kg of pork to the management office.'

text5 = 'We saw people return from Europe rich. A woman said she would give me work in a Nigerian restaurant in Italy. When I arrived I was told I had to pay back a £40,000 debt before I could leave. They said they would kill me if I didn’t work as a prostitute. The work was so dangerous. I was stabbed twice. I managed to leave, and now I work to help other women escape. These traffickers take everything from you – all that makes you human.'

In [487]:
def find_most_similar_situation(text,data_combined):
    tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
    tfidf_matrix = tf.fit_transform(data_combined['complain'])

    try:
        complain_text = text

    except NameError:
        file_ = open("test_complaint.txt","r") 
        complain_text = file_.read()
        file_.close()
    
    tfidf_cv_vector = tf.transform([complain_text])
    tfidf_cv_vector.shape
    
    cosine_sim = cosine_similarity(tfidf_cv_vector, tfidf_matrix)
    
    n = 10
    most_similar_situation =  data_combined.loc[np.argsort(-cosine_sim[0])[:n]]
    
    return most_similar_situation

In [488]:
find_most_similar_situation(text00,data_combined)

           class                                           complain
1429  Notrelated  No health benefits and some people dont leave ...
278   Notrelated  Low hourly pay pretty much across the board fo...
491        Minor  Defendants forced a 14 year old immigrant from...
1039       Minor  Defendants forced a 14 year old immigrant from...
644        Minor  Victim ran away from home and was recruited by...
780        Labor  The defendants used a Mexican women and a Sri ...
568        Labor  Coleman Ghanas deputy minister of finance recr...
635        Labor  I started working 24 hours straight and was ge...
1287  Notrelated  Work life balance is OK but not great Im sorry...
558   Notrelated  stressbad managersmean and rude people  they w...